doctype html
html
  head
    title JUUTA.COM
    style 
          include ../static/style.css 

  body
    nav#navbar 
        ul 
            div#logo 
                a(href="/")
                  img(src="../static/shoelogo.jpeg",alt="something wrong")
                p #[a(href="/") HOME]
            div#men 
                a(href="/men") 
                  img(src="../static/menshoes.jpg",alt="something wrong")
                p #[a(href="/men") MEN]
            div#lady 
                a(href="/women") 
                  img(src="../static/ladiesshoes.jpg",alt="something wrong")
                p #[a(href="/women") WOMEN]
            div#kid 
                a(href="/kid") 
                  img(src="../static/kidsshoes.jpg",alt="something wrong")
                p #[a(href="/kid") KIDS]
            div#kid 
                a(href="/contact") 
                  img(src="../static/contact.jpg",alt="something wrong")
                p #[a(href="contact") CONTACT US]
            div#search
                input(type="text" name="title" placeholder="Search Here...")

    section#sec1 
        div#first
            h1 WELCOME TO JUUTA.COM
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, dicta, repellendus tenetur, quasi iusto architecto ex ad in illo iure repudiandae doloremque modi. Ullam, obcaecati earum. Nisi, exercitationem! Atque temporibus quod accusantium laudantium, quam dolor voluptates doloribus nulla dolores quae?

    section#sec2 
        div#second           
              h1 OUR BRAND PARTNERS 
        div#partner 
            div.pat
              img(src="../static/adidas.png", alt="")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse incidunt quo excepturi adipisci eum, natus repudiandae modi praesentium. Nam.           
            div.pat
              img(src="../static/nike.jfif", alt="")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse incidunt quo excepturi adipisci eum, natus repudiandae modi praesentium. Nam.           
            div.pat
              img(src="../static/reebok.png", alt="")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse incidunt quo excepturi adipisci eum, natus repudiandae modi praesentium. Nam.
    section#sample
        div 
           h1 SOME DESIGN OF SHOES
        div#shoesamp 
                    img(src="../static/redshoe.jpg", alt="")
                    img(src="../static/whiteshoe.jpg", alt="")
                    img(src="../static/yellowshoe.jpg", alt="")
                    img(src="../static/blackshoe.jpg", alt="")
                    img(src="../static/pinkshoe.jpg", alt="")
                    img(src="../static/whiteshoe1.jpg", alt="")
                    img(src="../static/blueshoe.jpg", alt="")
                    img(src="../static/ladiesshoes.jpg", alt="")
                    img(src="../static/blueshoe1.jpg", alt="")

             
    section#sec3 
        div.third 
            p PAY SECURELY BY
                 div.picpay
                    a(href="/visa") 
                    img(src="../static/visa.png", alt="")
                    a(href="/visa") 
                    img(src="../static/rupaylogo.png", alt="")
                    a(href="/mastercard") 
                    img(src="../static/mastercard.png", alt="")
        div.third 
            div.picpay1
                div.pay 
                  img(src="../static/15.png", alt="")
                p 15 DAYS RETURN 
                div.pay 
                  img(src="../static/ven.png", alt="")
                p FREE DELIVERY
                div.pay 
                  img(src="../static/walet.png", alt="")
                p CASH ON DELIVERY


  footer#foot
      p &copy; 2022 JUUTA.COM | ALL RIGHTS RESERVED.
